@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Source+Serif+4:opsz,wght@8..60,400;8..60,600&display=swap");

body {
  margin: 0;
}

/*-----------------*/
header {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #ccff99;
}

nav img {
  float: inline-start;
}

h1 {
  margin-top: 16px;
  font-family: "Source Serif 4", serif;
  float: left;
}

nav ul {
  float: inline-end;
  list-style: none;
  vertical-align: top;
  margin-top: 16px;
}

nav li {
  list-style-type: none;
  display: inline;
  float: left;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

nav li a {
  font-size: 22px;
  text-decoration: none;
  line-height: 28px;
  padding: 18px 40px;
  color: black;
  -webkit-transition: background-color 1s linear;
  transition: background-color 1s linear;
}

nav li a:hover {
  background-color: #ccff33;
}

.Selected {
  background-color: #ccff33;
}

/*Aquí acaba el header*/

main {
  text-align: center;
  padding-top: 70px;
}


/*Incio index.html*/

main.index {
  padding-top: 40px;
}

.index input{
  float: left;
  margin-left: 20%;
  margin-right: 0%;
  width: 12%;
}

.index h2{
  font-family: "Source Serif 4", serif;
  font-weight: 600;
  background-color: rgba(255, 204, 204, 0.4);
  padding: 15px;
}

.index a{
  text-decoration: none;
  color: black;
}

.index div {
  height: 250px;
  flex-grow: 1;
  flex-basis: 0;
  margin: 20px;
  padding: 10px;
}

.index div img{
  height: 85px;
  width: 85px;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
.index div img:hover{
  border-style: solid;
  border-color: #000;
}

.continua .uno {
  position: absolute;
  top: 535px;
  left: 700px;
}

.continua .dos {
  position: absolute;
  top: 535px;
  left: 885px;
}

.continua .tres {
  position: absolute;
  top: 535px;
  left: 1070px;
}

.temporada .uno {
  position: absolute;
  top: 945px;
  left: 700px;
}

.temporada .dos {
  position: absolute;
  top: 945px;
  left: 885px;
}

.temporada .tres {
  position: absolute;
  top: 945px;
  left: 1070px;
}

.index audio{
  position: fixed;
  left: 80%
}

/*Inicio carrusel*/
div.carrousel{
  margin: auto;
  padding: 0%;
  height: auto;
  width: 25%;
  max-width: 120em;
  background-color: rgba(255, 204, 204, 0.4);
  overflow-x: hidden;
}
.carrousel .grande{
  margin: 0;
  padding: 0;
  width: 400%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  transition: all .5s ease;
  transform: translateX(0%);
}
.carrousel .img{
  width: calc(100% / 4);
  height: 30vh;
  min-height: 10vh;
}
.carrousel .img:hover{
  border: none;
}
.carrousel .puntos{
  list-style: none;
  width: 100%;
  padding: .4em;
  margin: 0;
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.carrousel .punto{
  border: solid black 1px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: white;
  margin: 1em 0.25em 0;
}

.carrousel .punto.activo{
  background-color: #CCCCFF;

}
/*Fin carrusel*/

/*Fin index.html*/

/*Inicio detail.html*/
main.detail {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.detail h2 {
  font-weight: 500;
  position: absolute;
  top: 70px;
  left: 1055px;
}

.detail article {
  display: flex;
}

.detail section {
  flex-grow: 1;
  flex-basis: 0;
}

.detail img {
  margin: 0px 25%;
  width: 500px;
  height: 600px;
  border: 3px solid black;
}

.detail div {
  margin: 10px;
  padding: 10px 15px;
}

.detail div.formulario {
  text-align: justify;
  background-color: rgba(255, 204, 204, 0.4);
  position: absolute;
  top: 12%;
  left: 55%;
  height: 700px;
  width: 450px;
  padding-left: 30px;
}

.detail form {
  text-align: justify;
}

.detail form select {
  width: 350px;
}

.detail form input {
  width: 40px;
  height: 20px;
}

.detail .boton {
  width: 350px;
  height: 25px;
  background-color: #CCCCFF;
  border-width: 0px;
  border-radius: 3%;
}

.detail #ya {
  width: 400px;
  height: 30px;
  background-color: #CCCCFF;
  border-width: 1px;
  border-radius: 3%;
  font-size: medium;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
.detail #ya:hover {
  height: 60px;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

/*Inicio tabs*/
.contenedor .ul{
  width: 100%;
  margin: 0;
  padding-left: 25%;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  list-style: none;
}
.contenedor .li{
  padding: 0.5vh;
  margin: 0;
  transition: all .5s ease;
}

.contenedor .li img{
  width: 5vh;
  height: 5vh;
  margin: 0;
  border: 0
}
.contenedor .li.activo{
  background-color: #CCCCFF;
}

.contenedor .li.activo img{
  border: 1 solid black;
}

.contenedor .subcontenedor{
  margin: 0;
  padding: 0;
  min-height: 75vh;
  position: relative;
}
.contenedor .bloque{
  position: absolute;
  opacity: 0;
  transition: all .5s ease;
}

.contenedor .bloque.activo{
  opacity: 1;
}
/*Fin tabs*/

/*Fin detail.html*/

/*Inicio about.html*/

.about h2 {
  font-family: "Source Serif 4", serif;
  font-weight: 600;
}

.about article {
  display: flex;
}

.about section {
  flex-grow: 1;
  flex-basis: 0;
  margin: 10px;
  padding: 10px;
}

.about div {
  height: 175px;
  padding-bottom: 5px;
  background-color: rgba(255, 204, 204, 0.4);
}

.about p {
  font-family: "Source Serif 4", serif;
  font-weight: 400;
  font-size: 15px;
  padding: 0 20px;
  text-align: justify;
}

.about section iframe {
  margin-top: 85px;
  margin-bottom: 150px;
  border: 2px solid black;
  width: 100%;
}

.about section video {
  margin-top: 85px;
  margin-bottom: 150px;
  border: 2px solid black;
  background-color: black;
  width: 100%;
}


/*Fin about.html*/

/*Inicio contact.html*/

main.contact {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.contact h2 {
  font-weight: 500;
}

.contact h2:hover {
cursor: pointer;
}

.contact article {
  display: flex;
}

.contact section {
  flex-grow: 1;
  flex-basis: 0;
}

.contact iframe {
  margin: 20px;
  width: 650px;
  height: 850px;
  border: 3px solid black;
}

.contact li {
  list-style: none;
}

.contact div {
  margin: 10px 0px;
  padding: 10px 15px;
  width: 230px;
  text-align: justify;
}

.contact div.direccion{
  background-color: rgba(255, 204, 204, 0.4);
  position: absolute;
  top: 10%;
  left: 55%;
}

.contact div.email{
  background-color: rgba(255, 204, 204, 0.4);
  position: absolute;
  top: 10%;
  left: 70%;
}

.contact div.telefono{
  background-color: rgba(255, 204, 204, 0.4);
  position: absolute;
  top: 28%;
  left: 55%;
}

.contact div.formulario {
  background-color: rgba(255, 204, 204, 0.4);
  position: absolute;
  top: 45%;
  left: 55%;
  height: 425px;
  width: 500px;
}

.contact form input {
  width: 400px;
}

.contact form {
  text-align: justify;
}

/*Inicio acordeón*/
.acordeon{
  width: 90%;
  max-width: 120em;;
  padding: 3em;
}
.acordeon .bloque{
  margin: 0 0 1em;
  padding: 1em;
}
.acordeon .h2{
  margin: 0 0 1em;
  padding: 0.25em;
}
.acordeon .contenido{
  background-color: rgba(255, 204, 204, 0.4);
  margin: 0;
  padding: 0 0.25em;
  height: 0;
  overflow: hidden;
  transition: all .5s ease
}
.acordeon .bloque.activo .contenido{
  height: 3em; /*Cambiar altura según el contenido*/
}
/*Fin acordeón*/

/*Fin contact.html*/

/*Aquí empieza el footer*/

footer {

  width: 100%;
  background-color: #ccff99;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul {
  align-self: center;
  padding: 0px 15px;
}

footer li {
  margin: 0;
  list-style: none;
}

footer li a {
  text-decoration: none;
  color: black;
}

/*Aquí acaba el footer*/

/*Inicio creative commons*/
#cc{
  height: 50px;
  position: absolute;
  left: 5px;
}
/*Fin creative commons*/
