main.detail {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.detail h2 {
  font-weight: 500;
  position: absolute;
  top: 70px;
  left: 1055px;
}

.detail article {
  display: flex;
}

.detail section {
  flex-grow: 1;
  flex-basis: 0;
}

.detail img {
  margin: 20px;
  width: 650px;
  height: 750px;
  border: 3px solid black;
}

.detail div {
  margin: 10px;
  padding: 10px 15px;
  background-color: rgba(255, 204, 204, 0.4);
  height: 120px;
  width: 230px;
  text-align: justify;
}

.detail div.formulario {
  position: absolute;
  top: 12%;
  left: 55%;
  height: 700px;
  width: 450px;
  padding-left: 30px;
}

.detail form {
  text-align: justify;
}

.detail form select {
  width: 350px;
}

.detail form input {
  width: 40px;
  height: 20px;
}

.detail .boton {
  margin: 0 1vh;
  width: 350px;
  height: 25px;
  background-color: #ccccff;
  border-width: 0px;
  border-radius: 3%;
}

.detail #ya {
  width: 400px;
  height: 30px;
  background-color: #ccccff;
  border-width: 1px;
  border-radius: 3%;
  font-size: medium;
  transition: 0.25s linear;
}
.detail #ya:hover {
  height: 60px;
}
