header {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #ccff99;
}

nav {
  max-width: auto;
}

nav img {
  padding: auto;
  float: inline-start;
}

h1 {
  margin-top: 16px;
  font-family: "Source Serif 4", serif;
  float: left;
}

nav ul {
  float: inline-end;
  list-style: none;
  vertical-align: top;
  margin-top: 16px;
}

nav li {
  list-style-type: none;
  display: inline;
  float: left;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

nav li a {
  font-size: 22px;
  text-decoration: none;
  line-height: 28px;
  padding: 18px 40px;
  color: black;
}

nav li a:hover {
  background-color: #ccff33;
}

.Selected {
  background-color: #ccff33;
}
