@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Source+Serif+4:opsz,wght@8..60,400;8..60,600&display=swap");

body {
  margin: 0;
}

main {
  text-align: center;
  padding-top: 70px;
}

.producto {
  display: flex;
  background-color: white;
  width: 1200px;
  height: 250px;
  margin: 0 auto;
  text-align: left;
  border: solid 2px #363062;
}
.producto img {
  margin: 10px;
  border: lightgray solid 2px;
}
.productoT {
  padding: 20px;
  font-size: 25px;
  width: 700px;
  color: black;
}
.productoD {
  padding: 20px;
  font-size: 20px;
  width: 700px;
  color: gray;
  text-align: justify;
}

#productoDesc {
  background-color: white;
  width: 100%;
}

.producto button {
  height: 30px;
  color: black;
}
.productoInfo {
  margin-left: auto;
}
.productoInfo button {
  width: 30px;
  margin: 10px;
  background-color: #363062;
  color: white;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 600;
}
.productoInfo p {
  font-size: 20px;
}
.producto a {
  color: black;
  font-size: 25px;
  font-weight: 800;
}
.producto a {
  text-decoration: none;
}

#button {
  background-color: #f99417;
  border-radius: 20px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  color: #363062;
  margin-top: 20px;
}

#controles {
  background-color: #4d4c7d;
  text-align: center;
}
#controles p {
  color: #363062;
  font-size: 36px;
}
#controles2 {
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 20px;
}

#total {
  margin-top: 20px;
  font-size: 30px;
}
#cantidadDiv {
  margin-left: 10px;
  background-color: lightgray;
  border-radius: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-right: 10px;
  margin-top: 18px;
}

#cantidad1 {
  font-weight: 700;
  margin-left: 15px;
  color: #363062;
  font-size: 20px;
}
#cantidad2 {
  color: #363062;
}

#precioDiv {
  margin-top: 60px;
  margin-left: 10px;
  background-color: lightgray;
  border-radius: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-right: 10px;
}

#precio1 {
  font-weight: 700;
  text-align: center;
  color: #363062;
  font-size: 20px;
}
#precio2 {
  color: #363062;
  text-align: center;

  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

#borrar {
  background-color: #363062;
  border-radius: 20px;
  width: 150px;
  height: 30px;
  font-size: 20px;
  color: white;
  margin-top: 20px;
  margin-left: 700px;
}
