@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Source+Serif+4:opsz,wght@8..60,400;8..60,600&display=swap");

body {
  margin: 0;
}

main {
  text-align: center;
  padding-top: 70px;
}
/*-----------------*/
/*Aquí acaba el header*/

/*

/*Inicio about.html*/
/*Fin about.html*/

/*Inicio contact.html*/

main.contact {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.contact h2 {
  font-weight: 500;
}

.contact article {
  display: flex;
}

.contact section {
  flex-grow: 1;
  flex-basis: 0;
}

.contact iframe {
  margin: 20px;
  width: 650px;
  height: 850px;
  border: 3px solid black;
}

.contact li {
  list-style: none;
}

.contact div {
  margin: 10px;
  padding: 10px 15px;
  background-color: rgba(255, 204, 204, 0.4);
  height: 120px;
  width: 230px;
  text-align: justify;
}

.contact div.direccion{
  position: absolute;
  top: 10%;
  left: 55%;
}

.contact div.email{
  position: absolute;
  top: 10%;
  left: 70%;
}

.contact div.telefono{
  position: absolute;
  top: 28%;
  left: 55%;
}

.contact div.formulario {
  position: absolute;
  top: 45%;
  left: 55%;
  height: 425px;
  width: 500px;
}

.contact form input {
  width: 400px;
}

.contact form {
  text-align: justify;
}

/*Aquí empieza el footer*/

footer {
  bottom: 0;  
  width: 100%;
  background-color: #ccff99;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul {
  align-self: center;
}

footer li {
  list-style: none;
}

footer li a {
  text-decoration: none;
  color: black;
}

/*Aquí acaba el footer*/
