@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Source+Serif+4:opsz,wght@8..60,400;8..60,600&display=swap");

body {
  margin: 0;
}

/*-----------------*/
/*Aquí acaba el header*/

main {
  text-align: center;
  padding-top: 70px;
}


/*Incio index.html*/

main.index {
  padding-top: 40px;
}

.index input{
  float: left;
  margin-left: 15%;
  width: 12%;
}

.index h2{
  font-family: "Source Serif 4", serif;
  font-weight: 600;
  background-color: rgba(255, 204, 204, 0.4);
  padding: 15px;
}

.index div {
  height: 200px;
  flex-grow: 1;
  flex-basis: 0;
  margin: 20px;
  padding: 10px;
}

.uno {
  position: absolute;
  top: 150px;
  left: 550px;
}

.dos {
  position: absolute;
  top: 150px;
  left: 850px;
}

.tres {
  position: absolute;
  top: 150px;
  left: 1050px;
}

/*Inicio about.html*/

.about h2 {
  font-family: "Source Serif 4", serif;
  font-weight: 600;
}

.about article {
  display: flex;
}

.about section {
  flex-grow: 1;
  flex-basis: 0;
  margin: 10px;
  padding: 10px;
}

.about div {
  height: 175px;
  padding-bottom: 5px;
  background-color: rgba(255, 204, 204, 0.4);
}

.about p {
  font-family: "Source Serif 4", serif;
  font-weight: 400;
  font-size: 15px;
  padding: 0 20px;
  text-align: justify;
}

.about section img {
  margin-top: 20px;
  border: 2px solid black;
  width: 100%;
}

/*Fin about.html*/

/*Inicio contact.html*/

main.contact {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.contact h2 {
  font-weight: 500;
}

.contact article {
  display: flex;
}

.contact section {
  flex-grow: 1;
  flex-basis: 0;
}

.contact iframe {
  margin: 20px;
  width: 650px;
  height: 850px;
  border: 3px solid black;
}

.contact li {
  list-style: none;
}

.contact div {
  margin: 10px;
  padding: 10px 15px;
  background-color: rgba(255, 204, 204, 0.4);
  height: 120px;
  width: 230px;
  text-align: justify;
}

.contact div.direccion{
  position: absolute;
  top: 10%;
  left: 55%;
}

.contact div.email{
  position: absolute;
  top: 10%;
  left: 70%;
}

.contact div.telefono{
  position: absolute;
  top: 28%;
  left: 55%;
}

.contact div.formulario {
  position: absolute;
  top: 45%;
  left: 55%;
  height: 425px;
  width: 500px;
}

.contact form input {
  width: 400px;
}

.contact form {
  text-align: justify;
}

/*Aquí empieza el footer*/

footer {
  bottom: 0;  
  width: 100%;
  background-color: #ccff99;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul {
  align-self: center;
}

footer li {
  list-style: none;
}

footer li a {
  text-decoration: none;
  color: black;
}

/*Aquí acaba el footer*/
